/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Indie Flower", cursive;
  font-weight: bold;
  color: #3E4A61;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.5rem;
  padding-bottom: 10px;
  color: #1A2639;
}
header {
  width: 100%;
  height: 50vh;
  background: url("/img/img1.jpg");
  margin: 0 auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: background 1.5s ease-in-out;
  position: relative;
  z-index: 5;
}
@media (max-width:570px) {
  header {
    height: 30vh;
  }
}
header::after {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}
header .nav-position {
  display: flex;
  max-width: 1500px;
  margin: auto;
  justify-content: space-between;
  align-items: center;
}
@media (max-width:570px) {
  header .nav-position {
    flex-direction: column;
  }
}
header a {
  text-decoration: none;
  color: #d9dad7;
  font-size: 1.4rem;
  padding: 0 1.2rem;
}
header a .btn {
  border: none;
  border-radius: 4px;
  width: 80px;
  color: white;
  background-color: #3E4A61;
}
header a .btn:hover {
  color: #c24d2c;
}
header a:hover {
  color: #c24d2c;
}
footer {
  padding-top: 2rem;
  border-top: 1px solid grey;
  max-width: 1000px;
  margin: auto;
  margin-top: 10rem;
  display: flex;
  justify-content: space-between;
}
footer p {
  color: #d9dad7;
}
footer .icons {
  color: #c24d2c;
}
footer .icons i {
  font-size: 30px;
  letter-spacing: 10px;
}
.max-width {
  max-width: 1300px;
  margin: 0 auto;
}
@media (max-width:1230px) {
  .max-width {
    width: 90%;
  }
}
@media (max-width:970px) {
  .max-width {
    margin-top: 5rem;
    border-top: 3px solid #c24d2c;
  }
}
.max-width .sectionExplore {
  margin-top: 2%;
}
.max-width .sectionExplore #img-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 10vh;
  margin-top: 10px;
  margin-bottom: 8rem;
}
@media (max-width:1230px) {
  .max-width .sectionExplore #img-container {
    height: 25rem;
    justify-content: space-between;
  }
}
@media (max-width:800px) {
  .max-width .sectionExplore #img-container {
    flex-direction: column;
    height: 80rem;
    margin-bottom: 15rem;
  }
}
.max-width .sectionExplore #img-container .imgDiv {
  display: flex;
  background-blend-mode: lighten;
  background-color: white;
  box-shadow: 2px 2px 15px 0px rgba(38, 38, 38, 0.92);
  border-radius: 10px;
  width: 32%;
  height: 100%;
  align-items: center;
  cursor: pointer;
}
@media (max-width:1230px) {
  .max-width .sectionExplore #img-container .imgDiv {
    flex-direction: column;
    width: 25%;
  }
}
@media (max-width:800px) {
  .max-width .sectionExplore #img-container .imgDiv {
    width: 100%;
    margin-bottom: 4rem;
  }
}
.max-width .sectionExplore #img-container .imgDiv span {
  display: inline-block;
  font-size: 1.4rem;
  font-family: "Indie Flower", cursive;
  font-weight: bold;
  padding-left: 4rem;
}
@media (max-width:1230px) {
  .max-width .sectionExplore #img-container .imgDiv span {
    padding-right: 5rem;
    padding-top: 1rem;
  }
}
@media (max-width:800px) {
  .max-width .sectionExplore #img-container .imgDiv span {
    margin-bottom: -20rem;
  }
}
.max-width .sectionExplore #img-container .imgDiv span:hover {
  color: #c24d2c;
  cursor: pointer;
}
.max-width .sectionExplore #img-container .imgDiv .bg-image1 {
  background-image: url(/img/coveraudiovideo.jpg);
  width: 30%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}
@media (max-width:1230px) {
  .max-width .sectionExplore #img-container .imgDiv .bg-image1 {
    width: 100%;
  }
}
.max-width .sectionExplore #img-container .imgDiv .bg-image2 {
  background-image: url(/img/cover-computer.jpg);
  width: 30%;
  height: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}
@media (max-width:1230px) {
  .max-width .sectionExplore #img-container .imgDiv .bg-image2 {
    width: 100%;
  }
}
.max-width .sectionExplore #img-container .imgDiv .bg-image3 {
  background-image: url(/img/cover-camera.jpg);
  width: 30%;
  height: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
}
@media (max-width:1230px) {
  .max-width .sectionExplore #img-container .imgDiv .bg-image3 {
    width: 100%;
  }
}
.max-width .intro-Content {
  width: 100%;
}
@media (max-width:800px) {
  .max-width .intro-Content {
    margin-top: -10rem;
  }
}
@media (max-width:970px) {
  .max-width .intro-Content {
    border-top: 3px solid #c24d2c;
  }
}
.max-width .intro-Content .introContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media (max-width:1230px) {
  .max-width .intro-Content .introContainer {
    justify-content: space-between;
  }
}
@media (max-width:970px) {
  .max-width .intro-Content .introContainer {
    flex-direction: column;
    margin-top: 1rem;
  }
}
@media (max-width:1230px) {
  .max-width .intro-Content .introContainer .Four {
    display: none;
  }
}
@media (max-width:970px) {
  .max-width .intro-Content .introContainer .Two {
    display: none;
  }
}
@media (max-width:970px) {
  .max-width .intro-Content .introContainer .One {
    margin-bottom: 12rem;
  }
}
.max-width .intro-Content .introContainer .box {
  width: 280px;
  height: 360px;
}
@media (max-width:970px) {
  .max-width .intro-Content .introContainer .box {
    width: 100%;
  }
}
.max-width .intro-Content .introContainer .box img {
  width: 100%;
  height: 100%;
}
@media (max-width:970px) {
  .max-width .intro-Content .introContainer .box img {
    margin-bottom: 2rem;
  }
}
.max-width .computers {
  width: 100%;
  margin-top: 15rem;
}
@media (max-width:970px) {
  .max-width .computers {
    border-top: 3px solid #c24d2c;
  }
}
.max-width .computers .cpuContainer {
  margin-top: -19rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
@media (max-width:1230px) {
  .max-width .computers .cpuContainer {
    justify-content: space-between;
  }
}
@media (max-width:1230px) {
  .max-width .computers .cpuContainer .One {
    display: none;
  }
}
@media (max-width:970px) {
  .max-width .computers .cpuContainer {
    flex-direction: column;
    margin-top: -12rem;
  }
}
.max-width .computers .cpuContainer .middlebox {
  margin-top: 200px;
  width: 400px;
  height: 350px;
}
@media (max-width:970px) {
  .max-width .computers .cpuContainer .middlebox {
    width: 100%;
    margin-top: 12rem;
  }
}
.max-width .computers .cpuContainer .middlebox img {
  width: 100%;
  height: 100%;
}
@media (max-width:970px) {
  .max-width .computers .cpuContainer .middlebox img {
    margin-bottom: 2rem;
  }
}
.max-width .topRated {
  width: 100%;
  margin-top: 15rem;
}
@media (max-width:970px) {
  .max-width .topRated {
    border-top: 3px solid #c24d2c;
  }
}
.max-width .topRated .ratedContainer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 30rem;
}
@media (max-width:1230px) {
  .max-width .topRated .ratedContainer {
    justify-content: space-between;
  }
}
@media (max-width:1230px) {
  .max-width .topRated .ratedContainer .One {
    display: none;
  }
}
@media (max-width:970px) {
  .max-width .topRated .ratedContainer .Three p {
    border-bottom: 3px solid #c24d2c;
  }
}
@media (max-width:970px) {
  .max-width .topRated .ratedContainer {
    flex-direction: column;
    margin-top: -12rem;
  }
}
.max-width .topRated .ratedContainer .bottombox {
  margin-top: 1rem;
  width: 400px;
  height: 350px;
}
@media (max-width:970px) {
  .max-width .topRated .ratedContainer .bottombox {
    width: 100%;
    margin-top: 12rem;
  }
}
.max-width .topRated .ratedContainer .bottombox img {
  width: 100%;
  height: 100%;
}
@media (max-width:970px) {
  .max-width .topRated .ratedContainer .bottombox img {
    margin-bottom: 2rem;
  }
}
