// Colors
// #1A2639 
// #3E4A61 
// #C24D2C 
// #D9DAD7

// Icons
//<i class="fas fa-microchip"></i>

body{
    max-width: 1300px;
    font-family: @parafont;
    background-color: #D9DAD7;
    margin: 0 15%;

    @media @tablet{
        margin: 0 5%;
    }

    @media @mobile{
        margin: 0 2%;
        margin-top: 10vh;
    }
    
    h1{
        font-family: @headerfont;
        color: #C24D2C;
        font-size: 3.5rem;

    }

    h2, h3{
        font-family: @headerfont;
        color: #D9DAD7;
    }

    a{
        color: #C24D2C;
    }
}