body{

    .container{
        position: relative;
        width: 100%;

        .img-one{
            width: 100%;
            height: auto;
        }

        .use-btn{
            position: absolute;
            top: 50%;
            left: 25%;
            transform: translate(-50%, -50%);
            background-color: #3E4A61;
            color: white;
            font-size: 2.5vw;
            padding: 12px 24px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            width: 40%;
            height: 15%;

            @media @tablet{
                font-size: 2.8vw;
            }
        }

        .loan-btn{
            position: absolute;
            top: 50%;
            left: 75%;
            transform: translate(-50%, -50%);
            background-color: #3E4A61;
            color: white;
            font-size: 2.5vw;
            padding: 12px 24px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            width: 40%;
            height: 15%;

            @media @tablet{
                font-size: 2.8vw;
            }
        }
    }



    .equipment{
        display: flex;
        justify-content: space-between;
        margin: 4% 0;

        @media @mobile{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;   
        }

        .equip-img{
            height: auto;
            width: 100%;
            border-radius: 8px;
        }

        .equip{
            .boxes-flex;
            color: white;
            background-color: #3E4A61;
            border-radius: 8px;
            width: 30%;
            height: 50vh;

            @media @mobile{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;  
                height: 25vh; 
            }

            h2{
                font-size: 2vw;
                padding: 6% 0;

                @media @tablet{
                    font-size: 2.8vw;
                }
            }

            p{
                padding: 3%;
            }
        }
    }


    footer{
        height: 10vh;
        align-items: center;
    }
}