header {
    display: flex;
    height : 12vh;
    background-color: #3E4A61;
    padding: 2% 0;

    @media @mobile {
        flex-direction: column;
        padding: 0;
        height: 9vh;
    }

    .icon{
        display: flex;
        justify-content: center;
        align-items: center;

        h1{
            font-size: 175%;
            margin: 5%;

            @media @tablet{
                font-size: 150%;
            }
        }

        i{
            margin: 5%;

            @media @tablet{
                display: none;
            }
        }
    }

    nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 65%;
        height: 100%;

        @media @mobile {
            overflow: hidden;
            background-color: #3E4A61;
            position: fixed;
            top: 0;
            width: 100%;
            max-width: 96%;
            height: 10vh;
            z-index: 1;
        }

        a {
            text-decoration: none;
            font-size: 1.1rem;

            @media @tablet{
                font-size: 1rem;
            }
        }
    }
}