.max-width {
  max-width: 1300px;
  margin: 0 auto;

  .web-container {
    .text-align();

    @media @desktop {
      border-top: 3px solid @orange;
    }

    .web29 {
      .container-flex();

      @media @desktop {
        flex-direction: column;
        align-items: center;
      }

      .dev {
        .img-size();

        @media @desktop {
          margin-bottom: 15rem;
        }

        @media @mobile {
          width: 300px;
          height: 300px;
        }

        .about-icons {
          .icon-style();
          a {
            color: @orange;
          }
        }

        img {
          .height();
        }
      }
    }
  }
}

.front-back {
  .text-align();

  @media @desktop {
    margin-top: -1px;
    border-top: 3px solid @orange;
  }

  .web29 {
    .container-flex();

    @media @desktop {
      flex-direction: column;
      align-items: center;
    }

    .dev {
      .img-size();

      @media @mobile {
        width: 300px;
        height: 300px;
      }

      @media @desktop {
        margin-bottom: 15rem;
      }

      .about-icons {
        .icon-style();
        a {
          color: @orange;
        }
      }

      img {
        .height();
      }
    }
  }
}

.team-lead {
  .text-align();

  @media @desktop {
    margin-top: -1rem;
    border-top: 3px solid @orange;
  }

  .web29 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10rem;

    .lead {
      .img-size();

      @media @mobile {
        width: 300px;
        height: 300px;
      }

      @media @desktop {
        margin-top: -5rem;
      }

      .about-icons {
        .icon-style();
        a {
          color: @orange;
        }
      }

      img {
        .height();
      }
    }
  }
}
